@model UserManagement.Web.Models.Users.UserListItemViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>User Details</h1>

<div>
    <h4>User: @Model.Id</h4>
    <hr />
    @await Html.PartialAsync("../Shared/UserDetails.cshtml", Model)
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
    <a asp-action="List">Back to List</a>
</div>
